<h1> List of users </h1>

<form action="/user/add">
  <label for="create_user">Username </label>
  <input type="text" name="username" id="create_user" placeholder="Enter a username...">
  <button type="submit">Add user</button>
</form>

<hr>

<table border=1>
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td>
        <%= user.id %>
      </td>
      <td>
        <%= user.username %>
      </td>
      <td>
        <a href="/users/<%= user.id %>">Show details</a>
    </tr>
  <% end %>
</table>