<h1> List of photos </h1>

<form>
  <label for="url">Image</label>
  <input type="text" id="url" name="photo_url" placeholder="Enter a URL for the image...">
  <label for="caption">Caption</label>
  <textarea id="caption" name="photo_caption" placeholder="Enter a caption for the photo..."></textarea>
  <label for="owner_id">Owner ID</label>
  <input type=" id="owner_id" name="owner_id" placeholder="Enter an ID of a User...">
  <button type="submit">Add photo</button>
</form>

<hr>

<table border="1">
  <tr>
    <th>Image</th>
    <th>Caption</th>
    <th>Owner</th>
    <th>Posted</th>
    <th></th>
  </tr>
  <tr>
    <td>
      <img src="https://images.unsplash.com/photo-1420593248178-d88870618ca0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80">
    </td>
    <td>This is as witty as I get</td>
    <td>Liz</td>
    <td>The date it was posted</td>
    <td>
      <a href="/photos/1">
        Show details
      </a>
    </td>
  </tr>
</table>